<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gilliam.marlon.com.travel_planner" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Home"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Photo_Search"
            android:label="@string/title_activity_photo__search"
            android:parentActivityName=".Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gilliam.marlon.com.travel_planner.Home" />
        </activity>
        <activity
            android:name=".PhotoDisplay"
            android:label="@string/title_activity_photo_display"
            android:parentActivityName=".Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gilliam.marlon.com.travel_planner.Home" />
        </activity>
        <activity
            android:name=".imagePopUp"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".Location"
            android:label="@string/title_activity_location"
            android:parentActivityName=".Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gilliam.marlon.com.travel_planner.Home" />
        </activity>
    </application>

</manifest>
